.schedule-container {
  margin-top: 40px;
  border-color: black;
  border-style: solid;
  overflow: scroll;
  height: 200px;
  width: 700px;
  background-color: wheat;

  .col {
    border-right-color: black;
    border-left-color: black;
    border-style: solid;
    min-width: 250px;
    overflow: scroll;
    padding-left: 0;
    padding-right: 0;
  }

  .col::-webkit-scrollbar {
    display: none;
  }

  .dropdown {
    display: flex;
    justify-content: center;
  }
}

.schedule-container::-webkit-scrollbar {
  display: none;
}
