#progress-dash {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;

  height: 200px;
  width: 330px;
  margin-top: 40px;
  margin-left: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1000;
  .cards {
    background-color: #ff858d;
    padding-left: 30px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    height: 70px;
    // -webkit-border-bottom-left-radius: 20px;
    // -webkit-border-top-left-radius: 20px;
    // -moz-border-bottom-left-radius: 20px;
    // -moz-border-top-left-radius: 20px;

    -moz-shadow: 0 0 10px black;
    -webkit-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
  }
}

#main-progress {
  margin-top: 40px;
  border-color: black;
  border-style: solid;
  overflow: scroll;
  height: 400px;
  width: 650px;
  background-color: #94b0da;
  margin-left: 20px;
  border-top-color: black;
  border-bottom-color: black;
  border-style: solid;
  border-width: 3px;
  .title {
    color: white;
    text-align: center;
    font-weight: bold;
  }
}

#progress-dash::-webkit-scrollbar {
  display: none;
}

#main-progress::-webkit-scrollbar {
  display: none;
}
